body{

  font-family: "Raleway", sans-serif;
}

main{
     background-color: #f5f8ff;
}

.action-section,
.productive-section{
    margin: 40px auto;
}



/* nav style */

nav{
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 150px;

}


/* header style */

.header-bg{
    background-image:url('../Assets/Hero-bg.png') ;
}
.logo{
    color: rgba(78, 71, 255, 1);
    font-size: 35px;
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight:bolder;
  /* font-style: normal; */
}

.banner-section,h1{
    text-align: center;
    margin: 300px 260px 35px 200px;
}
/* banner heading style */

.banner-heading{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  text-align: center;
  margin-bottom: 40px;
  color: rgba(37, 36, 50, 1);
}


/* button style */
.button-primary{
color:rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: bold;
padding:25px 60px;
border-radius: 15px;
border: none;
background-color: rgba(78, 71, 255, 1);



}
.btn-2{
    margin-bottom: 200px;
}

/* section-style */
.action-section{
    display: flex;
    justify-content: space-between;
    margin-right: 170px;
    margin-left: 170px;
}
.section-img{
    border-radius: 50px;
}
.action-para{
    color: rgba(37, 36, 50, 0.5);
} 
.action-heading{
    font-size:45px;
    font-weight: bold;
}
/* productive style */

.productive-section{
    background-color: #f0f4ff;
    padding: 80px 50px;
    border-radius: 25px;
    text-align: center;
    max-width: 1000px;
    margin: 40px auto;
    box-shadow: ;
    height: 300px;
    width: 1000px;
}

.productive-section h2{
font-weight:bold;
font-size: 38px;
margin-bottom: 30px;
text-align: center;
}

 .productive-section-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
 }
    .productive-box{
        font-size: 80px;
        font-weight: bold;
        margin-bottom: 0px;
        text-align: center;
        flex-wrap: wrap;
    }
    .productive-box p{
        font-size: 20px;
        font-weight: normal;
    }

/* .productive-section{
    text-align: center;
    margin-right: 160px;
    margin-left: 140px;
    display: flex;
    gap: 160px;
} */

/* get in touch section */

.form-section{
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: ;
}

.form-title{
    font-size: 90px;
    font-weight: bold;
}

/* footer style */

  .form-section input[type="text"], footer input[type="email"], footer textarea{
height: 65px;
border-radius: 5px;
background-color: white;
display: block;
width: 100%;
padding:10px 20px;
margin-bottom: 24px;
border: none;

  }
  footer{
    text-align: center;
  }
  footer ul li {
    
    list-style-type: none;  
  }
  footer ul li a{
    text-decoration: none;
  }
  